.App {
  max-width: 900px;
  margin: auto;
  color: hsl(217, 71%, 53%);
}

.linha {
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}

h1 {
  text-align: center;
}

@media only screen and (max-width: 740px) {

  .linha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}